<div class="main">
    <div class="content">
        <div class="info-area">
            <div (click)="log()" class="title">
                Payment
            </div>
            <div class="form-area">
                <div class="textbox">
                    <div class="title">Recipient's name</div>
                    <kendo-textbox [(ngModel)]="name" class="input" placeholder="Your name"></kendo-textbox>
                </div> 
                <div class="textbox">
                    <div class="title">Phone number</div>
                    <kendo-textbox [(ngModel)]="numberPhone" class="input" placeholder="Your phone"></kendo-textbox>
                </div> 
                <div class="textbox">
                    <div class="title">Province</div>
                    <kendo-dropdownlist  
                        [loading]="isLoadingProvince"
                        [data]="listProvince"
                        textField="province_name"
                        valueField="province_name"
                        [filterable]="true"
                        [(ngModel)]="provinceSelected"
                        (valueChange)="handleChangeProvince()"
                        [defaultItem]="defaultValueProvince"
                       ></kendo-dropdownlist>
                </div> 
                <div class="textbox">
                    <div class="title">District</div>
                    <kendo-dropdownlist  
                        [loading]="isLoadingDistrict"
                        [data]="listDistrict"
                        textField="district_name"
                        valueField="district_name"
                        [filterable]="true"
                        [disabled]="isDisableDistrict"
                        [(ngModel)]="districtSelected"
                        [defaultItem]="defaulValueDistrict"
                        (valueChange)="handleChangeDistrict()"
                       ></kendo-dropdownlist>
                </div> 
                <div class="textbox">
                    <div class="title">Ward</div>
                    <kendo-dropdownlist  
                        [loading]="isLoadingWard"
                        [data]="listWard"
                        textField="ward_name"
                        valueField="ward_name"
                        [filterable]="true"
                        [disabled]="isDisableWard"
                        [defaultItem]="defaultValueWard"
                        [(ngModel)]="wardSelected"
                        (valueChange)="handleChangeWard()"
                       ></kendo-dropdownlist>
                </div> 
                <div class="textbox">
                    <div class="title">Specific address</div>
                    <kendo-textbox [(ngModel)]="specific" [disabled]="isDisableSpecific" class="input" placeholder="Your specific address"></kendo-textbox>
                </div> 

                <div class="payment-method-select-area">
                    <div class="title title-method">
                        Payment method
                    </div>
                    <div class="area-button-method">
                        <div (click)="handleSelectedPaymentMethod(p)" *ngFor="let p of listPaymentMethod" [ngClass]="paymenMethodSelected?.id == p.id ? 'method-selected' : 'method'">
                            <div  class="area">
                                <i class="fa-solid {{p.icon}}"></i>
                                <div>{{p.text}}</div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="price-area">
            <div class="price">
                <div class="title">
                    Order summary
                </div>
                <div class="price-description">
                    <div class="sub-total">
                        <div class="title-child">
                            Subtotal
                        </div>
                        <div class="price-child">
                            {{priceSubTotal}}
                        </div>
                    </div>
                    <div class="sub-total">
                        <div class="title-child">
                            Delivery
                        </div>
                        <div class="price-child">
                            {{priceDelivery}}
                        </div>
                    </div>
                    <div class="sub-total">
                        <div class="title-child">
                            Coupon
                        </div>
                        <div class="price-child">
                            {{priceCoupon}}
                        </div>
                    </div>
                </div>
    
                <div class="price-total-area">
                    <div class="under-line"></div>
                    <div class="total-price">
                        <div class="title-child">
                            Total price
                        </div>
                        <div class="price-child">
                            {{totalPrice}}
                        </div>
                    </div>
                    <div class="under-line"></div>
                </div>

                <div (click)="handlePayment()" class="btn-payment">
                    Payment
                </div>
            </div>

            <div class="product">
                <div class="title">
                    Product
                </div>
                <div class="show-product">
                    <div *ngFor="let product of listProductPayment" >
                        <div class="item">
                            <div class="image">
                                <img src="{{product.Product.ListOfImage[1].ImgUrl}}" alt="">
                            </div>
                            <div class="area-info">
                                <div class="info">
                                    <div class="name">
                                        {{product.Product.Name}}
                                    </div>
                                    <div class="size">
                                        size: {{product.SizeSelected.Size}}
                                    </div>
                                    <div class="quantity">
                                        x{{product.Quantity}}
                                    </div>
                                </div>
                                <div (click)="handleDeleteProduct(product)" class="delete"> 
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
</div>