@import '../../../../styles.scss';

::ng-deep{
    .k-list-item.k-selected {
        color: var(--kendo-color-on-primary, #ffffff);
        background-color: var(--kendo-color-primary, #0026fd) !important;
    }
    app-payment{
        centered {
            display: flex;
            align-items: center;
            justify-content: center;
          };


        
        .main{
            height: 100%;
            width: 100%;
   
            .content{
                @extend centered;
                margin-top: 30px;
                gap: 50px;
                .info-area{
                    width: 700px;
                    height: 800px;
                    border-radius: 10px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    padding: 20px;

                    .title{
                        font-size: 25px;
                    }

                    .form-area{
                        margin-top: 30px;
                        .textbox{
                            margin: 20px 0;
                            .title{
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
    
                            .k-input-inner{
                                font-size: 20px !important;
                            }
                        }

                        .payment-method-select-area{
                            .title-method{
                                font-size: 18px;
                                margin-bottom: 10px;
                            }

                            .area-button-method{
                                display: flex;
                                justify-content: space-between;

                                .method-selected{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 200px;
                                    height: 80px;
                                    border-radius: 10px;
                                    border: 3px solid $color-main;
                                    cursor: pointer;
                                    color: $color-main;
                                    &:hover{
                                        border-color: $color-main;
                                        color: $color-main;
                                    }
                                    .area{
                                        .fa-solid{
                                            margin-bottom: 10px;
                                            font-size: 20px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                    }
                                }
                                .method{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 200px;
                                    height: 80px;
                                    border-radius: 10px;
                                    border: 3px solid rgb(199, 199, 199);
                                    cursor: pointer;
                                    color: rgb(199, 199, 199);
                                    &:hover{
                                        border-color: $color-main;
                                        color: $color-main;
                                    }

                                
                          
                                    .area{
                                        .fa-solid{
                                            margin-bottom: 10px;
                                            font-size: 20px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                    }
                                }
                               
                            }
                        } 
                    }                    
                }

                .price-area{
                    width: 400px;
                    height: 800px;
                    
                    .price{
                        height: 350px;
                        border-radius: 10px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        padding: 20px;
                        padding-bottom: 30px;
                        .title{
                            font-size: 25px;
                        }
    
                        .price-description{
                            .sub-total{
                                display: flex;
                                justify-content: space-between;
                                margin: 20px 0;
                                font-size: 18px;
                                color: rgb(155, 155, 155);
                            }
                        }
    
                        .price-total-area{
                            .under-line{
                                width: 100%;
                                height: 1px;
                                background-color: black;
                            }
    
                            .total-price{
                                font-size: 20px;
                                margin: 20px 0;
                                @extend centered;
                                justify-content: space-between;
                            }
                        }

                        .btn-payment{
                            width: 100%;
                            height: 40px;
                            background-color: $color-main;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;
                            color: white;
                            font-weight: bold;
                            font-size: 20px;
                            margin: 20px 0;
                            cursor: pointer;
                        }
                    }

                    .product{
                        height: 400px;
                        margin-top: 50px;
                        border-radius: 10px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        padding: 20px;

                        .title{
                            font-size: 25px;
                            margin-bottom: 20px;
                        }

                        .show-product{
                            overflow: auto;
                            height: 300px;
                            .item{
                                height: 100px;
                                width: 100%;
                                border-radius: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding-right: 20px;
    
                                .image{
                                    height: 100px;
                                    width: 100px;
                                
    
                                    img{
                                        height: 100%;
                                        width: 100%;
                                        border-radius: 10px;
                                    }
                                }
    
                                .area-info{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: calc(100% - 100px);
                                }

                                .info{
                                
                                    margin-left: 10px;
                                    
                                    .name{
                                        font-weight: bold;
                                    }
        
                                    .size{
                                        margin: 10px 0;
                                    }
                                }
        
                                .delete{
                                    cursor: pointer; 
                                    color: red;

                                    &:hover{
                                        color: #ff6565;
                                    }
                                }
                            }
    
                           
                        }

                        
                    } 
                }
            }
        }
    }
}