<div class="p-import-image" [ngStyle]="{
    'gap.px': gap
}">
    <div class="text-icon-container">
        <div class="text-image">{{text}}</div>
        <div style="display: flex;">
            <kendo-fileselect ImportImageDirective [restrictions]="fileRestrictions" (select)="select($event)"
                FileSelected>
            </kendo-fileselect>
        </div>
    </div>
    <div class="image-container" *ngIf="imagePreview">
        <div class="img-preview example-config big-image">
            <img [src]="imagePreview.src" [ngStyle] ="{
                'width.px' :imgWidth,
                'max-width.px' :imgWidth,
                'min-width.px' :imgMinWidth,
                'height.px' :imgHeight,
                'max-height.px' :imgHeight,
                'min-height.px' :imgMinHeight,
                'border-radius.px' :rounded,
            }" alt="big image preview"/>
            <i id="icon-delete" class="fa-regular fa-circle-xmark" (click)="delete()"></i>
        </div>
    </div>

    <!-- <div class="image-container" *ngIf="srcImage">
        <div class="img-preview example-config big-image">
            <img src="\assets/{{srcImage}}" alt="big image preview" />
            <span class="k-icon k-font-icon k-i-minus-outline" (click)="delete()"></span>
        </div>
    </div> -->
</div>