@import '../../../../styles.scss';

::ng-deep {
    component-grid {
        position: absolute;
        bottom: 0;
        .component-grid {
            width: 100%;

            .header-component-grid {
                display: flex;
                padding: 15px 0;
                min-height: 50px;
                gap: 20px;

                .title-header {
                    @include center-vertical;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                .filter-header {
                    @include center-vertical;
                    font-size: 13px;
                }
            }

            .k-grid-header,
            .k-grid-header-wrap,
            .k-grouping-header,
            .k-grid .k-table-th,
            .k-grid td,
            .k-grid .k-table-td,
            .k-grid-footer,
            .k-grid-footer-wrap,
            .k-grid-content-locked,
            .k-grid-footer-locked,
            .k-grid-header-locked,
            .k-filter-row>.k-table-th,
            .k-filter-row>td,
            .k-filter-row>.k-table-td {
                border: none !important;
            }

            .k-grid {
                border: none;
            }

            kendo-grid {
                .k-grid-header {
                    border: none;
                    padding: 0;
                }

                table.k-grid-table {
                    border-spacing: 0 8px;
                }

                thead.k-table-thead {
                    th.k-header.k-table-th {
                        border: none;
                    }

                    tr.k-table-row {
                        font-weight: 600;
                        background-color: #fff;
                    }
                }

                tbody.k-table-tbody {
                    tr.k-table-row {
                        background-color: #fff;
                        height: 50px;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    }
                }

                .k-grid-content{
                    overflow-y: auto !important;
                }

                .k-grid-header{
                    padding: 0 !important;
                }
            }

            kendo-pager-page-sizes{
                flex-direction: row-reverse;
            }

            .pager-buttons{
                display: flex;
            }

            kendo-resize-sensor{
                display: none;
            }

            kendo-pager{
                display: flex;
                justify-content: space-between;
                background: none;
                border-top: 1px solid black;
            }

            kendo-pager-numeric-buttons{
                select{
                    display: none;
                }
            }
        }
    }
}