<div class="component-grid">
    <div class="header-component-grid">
        <div class="title-header">{{ titleGrid }}</div>
    </div>

    <kendo-grid #myCustomGrid [data]="listData" [loading]="isLoading" [pageable]="true" [pageSize]="listPageSize[0]">
        <ng-container *ngFor="let template of templates">
            <ng-container *ngTemplateOutlet="template"></ng-container>
        </ng-container>

        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-page-sizes pagerGrid [pageSizes]="listPageSize"></kendo-pager-page-sizes>
            <div class="pager-buttons">
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons [buttonCount]="3"></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
        </ng-template>
    </kendo-grid>
</div>