<div class="body">
    <div class="video">
        <iframe
        width="100%"
        height="900"
        src="https://www.youtube.com/embed/6Pjw7uFmJDg?controls=0&showinfo=0&modestbranding=1&mute=1&autoplay=1&loop=1&playlist=6Pjw7uFmJDg&modestbranding=1&iv_load_policy=3&fs=0&rel=0"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    
        <div class="title">
            <div class="title-head-first">
                {{'Stride in Style' | uppercase}}
            </div>
            <div class="title-head-second">
                {{  'From Heels to Sneakers, We ve Got Your Fit' | uppercase}}
            </div>
            <div class="btn-shop">
                <div data-tooltip="Sold out" class="button">
                    <div (click)="log()" class="button-wrapper">
                      <div class="text">Buy Now</div>
                        <span class="icon">
                          <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg>
                        </span>
                      </div>
                    </div>
            </div>
        </div>
      
    </div>

    <div class="content">
        <div class="content-featured">
            <div class="title">
                Featured
            </div>
            <div class="card-second">
                <div class="item" *ngFor="let item of dataContentSecond">
                    <div class="image-area">
                        <img class="img" src="{{item.imageUrl}}" alt="">
                    </div>
                    <div class="text">
                        {{item.text}}
                    </div>
                    <div class="btn-shop">
                        <button class="button type1">
                            <span class="btn-txt">{{'Shop now' | uppercase}}</span>
                          </button>
                          
                    </div>
                </div>
            </div>
        </div>

        <div class="content-new-product">
            <div class="title">
                New in here
            </div>
            <div class="card">
                <div class="item" *ngFor="let product of ListProductDesc">
                    <div class="image">
                        <img src=" https://product.hstatic.net/200000384787/product/hinh_hang_bigball_chunky_la_dodgers_mau_trang_xanh_3ashc101n-07whs__1__fc175cfad43a4512a62ee46302657a3b_master.jpg" alt="">
                    </div>
                    <div class="info-item">
                        <div class="name">
                            {{product.Name}}
                        </div>
                        <div class="type">
                            {{product.BrandName}}
                        </div>

                        <div class="price-area">
                            <div *ngIf="product.PriceAfterDiscount < product.Price" class="price-sale">
                                {{product.PriceAfterDiscount}}đ
                            </div>
                            <span [ngClass]="{'price-discount': product.PriceAfterDiscount < product.Price, 'price': product.PriceAfterDiscount >= product.Price}" class="price">
                                {{ product.Price}}đ
                              </span>
                              
                  
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="content-trending">
            <div class="title">
                Trending
            </div>
            <div class="card">
                <div class="image-area">
                    <img class="img" src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_2439,c_limit/67c2358c-39ed-49ec-a068-d5292543a15a/nike-just-do-it.png" alt="">
                </div>
                <div class="text-area">
                    <div class="slogan">
                        {{'No paint, no gain' | uppercase}}
                    </div>
                    <div class="text">
                        Every accomplishment starts with the decision to try.  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
