@import '../../../../styles.scss';
.body{
    margin-top: 2px;

    .pop-up{
      height: 100%;
      width: 100%;
      background-color: rgba(88, 88, 88, 0.637);
      display: flex;
      align-items: center;
      justify-content: center;

      .content-popup{
        width: 400px;
        height: 500px;


        .title{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 !important;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    
    .video{
        pointer-events: none;
        height: calc(100% - 50px);
        position: relative;
    }
    .title{
      margin-left: 50px;
      .title-head-first{
        position: absolute;
        font-weight: bold;
        font-size: 100px;
        margin-top: -350px;
        color: rgb(255, 255, 255);
        z-index: 9;
      }

      .title-head-second{
          position: absolute;
          font-weight: bold;
          font-size: 40px;
          margin-top: -230px;
          color: rgb(255, 255, 255);
          z-index: 9;
      }

      .btn-shop{
        position: absolute;
        font-weight: bold;
        font-size: 40px;
        margin-top: -150px;
        color: rgb(255, 255, 255);
        z-index: 9;
        border-radius: 10px;
        pointer-events: all;
        cursor: pointer;

        .button {
          --width: 300px;
          --height: 70px;
          --tooltip-height: 35px;
          --tooltip-width: 90px;
          --gap-between-tooltip-to-button: 18px;
          --button-color: #26333F;
          --tooltip-color: #fff;
          width: var(--width);
          height: var(--height);
          background: var(--button-color);
          position: relative;
          text-align: center;
          border-radius: 0.45em;
          font-family: "Arial";
          transition: background 0.3s;
        }
        
        .button::after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-top-color: $color-main;
          left: calc(50% - 10px);
          bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
        }
        
        .button::after,.button::before {
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s;
        }
        
          .text {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        .button-wrapper,.text,.icon {
          overflow: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          color: #fff;
        }
        
        .text {
          top: 0
        }
        
        .text,.icon {
          transition: top 0.5s;
        }
        
        .icon {
          color: #fff;
          top: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        
        .icon svg {
          width: 24px;
          height: 24px;
        }
        
        .button:hover {
          background-color: $color-main;
        }
        
        .button:hover .text {
          top: -100%;
        }
        
        .button:hover .icon {
          top: 0;
        }
        
        .button:hover:before,.button:hover:after {
          opacity: 1;
          visibility: visible;
        }
        
        .button:hover:after {
          bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
        }
        
        .button:hover:before {
          bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
        }
        
        
        
        

        
      }

    }

    
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      .typewriter {
        overflow: hidden; /* Để chữ không bị tràn khi đánh máy */
        border-right: .15em solid orange; /* Hiển thị con trỏ đánh máy */
        white-space: nowrap; /* Ngăn chặn việc chuyển dòng */
        animation: typing 3s steps(40, end), /* Độ dài và tốc độ đánh máy */
                   blink-caret .75s step-end infinite; /* Tần suất của con trỏ */
      }

    .content{
        width: 90%;
        margin: 0 5%;

        .content-featured{
            margin-bottom: 50px;
            width: 100%;
            margin-top: 100px;
            display: block;

         

            .title{
              width: 100%;
              font-size: 30px;
              margin: 0 ;
              font-weight: bold;
            }
    
            .card-second{
              overflow: auto;
                // width: 100%;
                display: flex;
                // justify-content: center;
                gap: 10px;
                margin-top: 20px;

                &:hover{
       
                }
                
    
                .item{
                    width: 500px;
                    height: 700px;
                    border-radius: 10px;
                    cursor: pointer;

                    .image-area{
                      height: 80%;
                      width: 500px;
                      background-color: bisque;

                      .img{
                        height: 100%;
                        width: 100%;
                      }
 
                    }
                    .text{
                      font-size: 25px;
                      margin: 20px 0;
                    }

                    .btn-shop{
                      .button {
                        height: 40px;
                        width: 150px;
                        position: relative;
                        background-color: transparent;
                        cursor: pointer;
                        border: 2px solid #252525;
                        overflow: hidden;
                        border-radius: 30px;
                        color: #333;
                        transition: all 0.5s ease-in-out;
                      }
                      
                      .btn-txt {
                        z-index: 1;
                        font-weight: 800;
                        letter-spacing: 4px;
                      }
                      
                      .type1::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: all 0.5s ease-in-out;
                        background-color: $color-main;
                        border-radius: 30px;
                        visibility: hidden;
                        height: 10px;
                        width: 10px;
                        z-index: -1;
                      }
                      
                      .button:hover {
                        box-shadow: 1px 1px 200px #252525;
                        color: #fff;
                        border: none;
                      }
                      
                      .type1:hover::after {
                        visibility: visible;
                        transform: scale(100) translateX(2px);
                      }
                      
                    }
                   
                }
            }
        }

        .content-trending{
          margin-bottom: 50px;
            width: 100%;
            margin-top: 100px;
            display: block;

         

            .title{
              width: 100%;
              font-size: 30px;
              margin: 0 ;
              font-weight: bold;
              margin-bottom: 20px;
            }

            .card{
              .image-area{
                width: 100%;
                height: 600px;

                .img{
                  width: 100%;
                  height: 100%;
                }
              }

              .text-area{
                text-align: center;

                .slogan{
                  padding:  20px 0;
                  font-size: 50px;
                  font-weight: bold;
                }

                .text{
                  font-size: 30px;
                }
              }
            }
        }

        .content-new-product{
            margin-bottom: 50px;
            width: 100%;
            margin-top: 100px;
            display: block;
            .title{
              width: 100%;
              font-size: 30px;
              margin: 0 ;
              font-weight: bold;
              margin-bottom: 20px;
            }

            .card{
              display: flex;
              overflow-x: auto;
              overflow-y: hidden;
              gap: 10px;
              height: 450px;
              
               
              
            }
        }
    }

    
}