@import '../../../../../styles.scss';

.header{
  z-index: 9999;
  width: 100%;
  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    .logo{
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .img{
            width: 100%;
            height: 20px;
        }
    }
  
    .content-center{
        display: flex;
        padding: 30px;
        .item {
          font-size: 17px;
          background: transparent;
          border: none;
          padding: 1em 1.5em;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          transition: 0.5s ease;
          cursor: pointer;
          font-weight: bold;
        }
        
        .item::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background-color: $color-main;
          transition: 0.5s ease;
        }
        
        .item:hover {
          color: #ffffff;
          transition-delay: 0.5s;
        }
        
        .item:hover::before {
          width: 100%;
        }
        
        .item::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0;
          width: 100%;
          background-color: $color-main;
          transition: 0.4s ease;
          z-index: -1;
        }
        
        .item:hover::after {
          height: 100%;
          transition-delay: 0.4s;
          color: aliceblue;
        }
  
        .item-select{
          font-size: 17px;
          background: transparent;
          border: none;
          padding: 1em 1.5em;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          // transition: 0.5s ease;
          cursor: pointer;
          font-weight: bold;
          background-color: $color-main;
          color: white;
        }
        
    }
  
    .content-right{
        margin-right: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 20px;
  
        .search-area{
            max-width: 200px;
            display: flex;
            border-radius: 5px;
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                :hover{
                  color: $color-main;
                }
            }
            .input{
              .k-input-inner{
                border: none;
                background-color: $color-main;
              }
            }
            
        }
  
        .profile{
          cursor: pointer;
          :hover{
            color: $color-main;
          }
        }
  
        .cart{
          cursor: pointer;
          :hover{
            color: $color-main;
          }

          // .icon{
          //   position: relative;
          // }
          .noitifi{
            color: white;
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: $color-main;
            border-radius: 100px;
            margin-top: -30px;
            margin-left: 13px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          
        }
        
    }
  }
  

}

