@import '../../.././../styles.scss';
@import '../../shared/style/grid.scss';

::ng-deep{
    app-admin006-manage-cart{
        display: block;
        height: 100%;
        position: relative;
            .headerFilter{
                display: flex;
                overflow-x: auto;

                gap: 30px;
                @include center-vertical;
    
                .titlePage{
                    font-size: 16px;
                    font-weight: bold;
                    // background-color: aqua;
                    // min-width: 200px;
                    text-wrap: nowrap;
                }
    
                .searchBar{
                    // background-color: red;
                    // width: 600px;
                }
            }
    
            .line{
                background-color: black;
                width: 15px;
                height: 2px;
            }
    
            .timeStartEnd{
                display: flex;
                align-items: center;
                gap: 10px;
                // background-color: red;
            }

            .showList{
                
                th.k-table-th[aria-colindex="1"]{
                    @include center;
                }
                .column-MDH{
                    @include center;
                    height: 62px;
                }

                th.k-table-th[aria-colindex="3"]{
                    @include center;
                }
                
                th.k-table-th[aria-colindex="4"]{
                    justify-content: center;
                }

                .column-SDT{
                    @include center-horizontal;
                }

                th.k-table-th[aria-colindex="5"]{
                    justify-content: center;
                }

                .column-NKT{
                    @include center-horizontal;
                }
                

            }

    }
}
