@import '../../.././../styles.scss';
@import '../../shared/style/grid.scss';

::ng-deep{
    app-admin006-manage-cart{
        display: block;
        height: 100%;
        position: relative;
            .headerFilter{
                display: flex;
                overflow-x: auto;

                gap: 30px;
                @include center-vertical;
    
                .titlePage{
                    font-size: 16px;
                    font-weight: bold;
                    // background-color: aqua;
                    // min-width: 200px;
                    text-wrap: nowrap;
                }
    
                .line{
                    background-color: black;
                    width: 15px;
                    height: 2px;
                }
        
                .timeStartEnd{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    // background-color: red;
                }
            }
    


            .showList{
                // .dropDown-action{
                //     position: absolute;
                //     top: 0px !important;
                //     background-color: red;
                //     // left: -155px;
                //     right: 30px;
                //     z-index: 10 !important;
                //     .dropdown{
                //         background-color: $color-tool-box !important; 
                //     }
                // }

                .grid-custom-container{
                    height: calc(100vh - 61px - 60px);

                    th.k-table-th[aria-colindex="2"],
                    th.k-table-th[aria-colindex="4"],
                    th.k-table-th[aria-colindex="5"],
                    th.k-table-th[aria-colindex="6"],
                    th.k-table-th[aria-colindex="7"],
                    th.k-table-th[aria-colindex="8"],
                    th.k-table-th[aria-colindex="9"]{
                        justify-content: center;
                    }
    
                    td{
                        text-wrap: nowrap !important;
                    }

                    span{
                        cursor: auto !important;
                    }
    
                    .column-Code,
                    .column-PhoneNumber,
                    .column-TotalBill{
                        text-align: center;
                    }  
    
                    th.k-table-th[aria-colindex="10"]{
                        justify-content: end;
                    }
    
                    .column-CreateAt,
                    .column-PaymentMethod,
                    .column-Voucher{
                        text-align: center;
                    }
    
    
                    .column-Status{                    
                        display: flex;
                        justify-content: end;
                    }
    
                    .column-ShippingAddress{
                        text-wrap: wrap !important;
                    }
    
                    th.k-table-th[aria-colindex="11"]{
                        background-color: transparent;
                    }
    
                    // td.k-table-td[aria-colindex="11"]{
    
                    // }
                    td.k-table-td[aria-colindex="11"] {
                        border-left: 1px solid gray !important;
                        height: 44px;
                    }
    
                    .column-button{
                        z-index: 10;
                        position: relative;
                        div{
                            background-color: transparent !important;
                        }
                        .block-buttonAction{
                            .component-button {
                                box-shadow: $box-shadow3;
                            
                                &:hover {
                                    background-color: #464646 !important;
                                }
    
                                #idIconFontAwsome{
                                    color: black;
                                }
                            }
                            
                            .component-button:hover #idIconFontAwsome {
                                color: white !important;
                            }
                        }

                        .dropDown-action{
                            position: absolute;
                            top: 15px !important;
                            left: -145px;
                            // right: 50px;
                            z-index: 10 !important;

                            .dropdown{
                                background-color: $color-tool-box !important; 
                            }
                        }
                        
                    }
                }
            }

    }
}
