<div class="headerFilter">
    <p class="titlePage">DANH SÁCH ĐƠN HÀNG</p>
    <component-search-bar class="searchBar" placeholder="Tìm kiếm theo tên hoặc số điện thoại" [width]="500"></component-search-bar>
    <div class="timeStartEnd">
        <app-datepicker [minDate]="minDate" [maxDate]="endDate" (datePicked)="getDateFromDatePicker($event, 'start')"></app-datepicker>
        <div class="line"></div>
        <app-datepicker [minDate]="startDate" [maxDate]="maxDate" (datePicked)="getDateFromDatePicker($event, 'end')"></app-datepicker>
    </div>
    <component-text-dropdown 
    [listItem]="listStatus" 
    textField="Status" 
    valueField="Code"
    [defaultItem]="defaultItemStatusBill"
    [widthTextBox]="200"
    [heightTextBox]="35"
    [label]="'Mã người dùng'"
    [widthBlock]="350"
    ></component-text-dropdown>
</div>
<component-text-area [label]="'Lí do hủy đơn:'"
[labelWidth]="100"
[height]="47"
[width]="180"
[fontsize]="15"
></component-text-area>
<br><br><br>
<component-text-input [label]="'Mã người dùng'"></component-text-input>
<br><br><br>
<component-import-image [imgWidth]="150" [imgHeight]="150" [rounded]="3" [text]="'Ảnh sản phẩm'"></component-import-image>
<br><br><br>

<!-- <component-text-dropdown [listItem]="listStatus" textField="Status" valueField="Code"></component-text-dropdown> -->

<component-dropdown-action [listItem]="listStatus" [rounded]="3"></component-dropdown-action>
<br><br><br>

<!-- <component-popup-confirm></component-popup-confirm> -->
<component-form><div class="content-form"></div></component-form>

