::ng-deep{
    .box-text-area{
        display: flex;

        label, kendo-textarea{
            display: block;
        }
        label{
            text-wrap: nowrap;
        }
        kendo-textarea{
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        }
    }
}