::ng-deep{
    component-text-area{
        display: inline-block;
        .box-text-area{
            display: flex;
            justify-content: space-between;
            label, kendo-textarea{
                display: block;
            }
            label{
                text-wrap: nowrap;
            }
            kendo-textarea{
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
            }
            textarea{
                height: 100%;
            }
        }
    }

}