<div class="box-text-area">
    <kendo-label
    [style.width.px]="labelWidth"
    [style.color]="colorLabel"
    class="k-form" 
    [text]="label">
    </kendo-label>
    <kendo-textarea
    [placeholder]="placeholder"
    resizable="none"
    [style.width.px]="width"
    [style.height.px]="height"
    [style.maxHeight.px]="height"
    [style.minHeight.px]="50"
    [style.color]="color"
    [style.border.px]="borderWidth"
    [style.borderColor]="borderColor"
    [style.borderStyle]="borderStyle"
    [style.backgroundColor]="bgColor"
    [style.borderRadius]="rounded"
>
</kendo-textarea>
</div>