.item{
    width: 500px;
    border-radius: 10px;
    .image{
      height: 500px;
      width: 100%;
      img{
        height: 100%;
        width: 100%;
        background-size: cover;
        border-radius: 10px;
      }
    }
  }

  .info-item{
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    .name{
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 10px;

    }

    .type{
      padding-bottom: 10px;
      color: #999999;
      font-size: 18px;
    }

    .stock{
      color: #999999;
      padding-bottom: 10px;
      display: flex;
    }

    .price-area{
      display: flex;
      gap: 10px;
      font-size: 18px;
      font-weight: bold;
      align-items: flex-start;
      .price-sale{
        padding-bottom: 10px;
      }

      .price{
        padding-bottom: 10px;
      }

      .price-discount{
        font-size: 14px;
        color: rgb(206, 206, 206);
        text-decoration-line: line-through;
      }
    }

   
  }