@import '../../../../styles.scss';

::ng-deep{
  app-ecom-shoes{
    centered {
      display: flex;
      align-items: center;
      justify-content: center;
    };
  
    .k-slider .k-draghandle{
      background-color: $color-main !important;
      border-color: $color-main;
      &:hover{
        border-color: $color-main;
      }
    }
  
    .k-slider .k-slider-selection{
      background-color: $color-main;
    }

  .loading{
    z-index: 9999;
  }
  
  .main{
    overflow: hidden;
      .content{
          display: flex;
          margin-top: 50px;
          height: calc(100vh - 100px);
          .sidebar{
              overflow: auto;
              width: 300px;
              position: relative;
  
              .content-sidebar{
                width: 250;
                margin: 0 25px;
                .title{
                  margin-bottom: 20px;
                  font-size: 18px;
                  font-weight: bold;
                }
                .custom-checkbox {
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                    font-size: 16px;
                    color: $color-main;
                    transition: color 0.3s;
                    // margin: 0 20px;
                  }
                  
                  .custom-checkbox input[type="checkbox"] {
                    display: none;
                  }
                  
                  .custom-checkbox .checkmark {
                    width: 24px;
                    height: 24px;
                    border: 2px solid $color-main;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
                    transform-style: preserve-3d;
                  }
                  
                  .custom-checkbox .checkmark::before {
                    content: "\2713";
                    font-size: 16px;
                    color: transparent;
                    transition: color 0.3s, transform 0.3s;
                  }
                  
                  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
                    background-color: $color-main;
                    border-color: $color-main;
                    transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
                  }
                  
                  .custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
                    color: #fff;
                  }
                  
                  .custom-checkbox:hover {
                    color: #666;
                  }
                  
                  .custom-checkbox:hover .checkmark {
                    border-color: #666;
                    background-color: #f0f0f0;
                    transform: scale(1.05);
                  }
                  
                  .custom-checkbox input[type="checkbox"]:focus + .checkmark {
                    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
                    outline: none;
                  }
                  
                  .custom-checkbox .checkmark,
                  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
                    transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
                  }
  
                .filter{
                    margin-bottom: 20px;
                }
  
                .filter-price{
                  
                }
  
                .type{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    .item-type{
                        font-weight: 500;
                        cursor: pointer;
                        font-size: 16px;
                    }
                    .type-selected{
                        font-weight: 500;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: bold;
                        text-decoration-line: underline;
                    }
                }
  
                .brand{
                  display: flex;
                  align-items: center;
                  margin-bottom: 10px;
                  .item-type{
                      font-weight: 500;
                      cursor: pointer;
                      font-size: 16px;
                  }
                  .type-selected{
                      font-weight: 500;
                      cursor: pointer;
                      font-size: 16px;
                      font-weight: bold;
                      text-decoration-line: underline;
                  }
              }
                
                .gender{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                }
  
                .btn-apply{
                  @extend centered;
                  // position: absolute;
                  bottom: 10px;
                  margin-bottom: 10px;
                  width: 200px;
                  height: 50px;
                  border-radius: 10px;
                  color: white;
                  font-weight: bold;
                  background-color: $color-main;
                  cursor: pointer;
  
                  &:hover{
                    opacity: 0.7;
                  }
                }
              }
  
              
          }

          .right-content{
            width: 100%;
            
            .sort{
              padding: 0 20px;
              width: 100%;
              height: 50px;
              display: flex;
              justify-content: end;
              align-items: center;
              margin-bottom: 20px;
              gap: 20px;
  
              .check{
                kendo-combobox{
                  height: 40px;
                  width: 200px;
                }
              }

              .input{
                border: 1px solid rgb(233, 233, 233);
                display: flex;
                align-items: center;
                gap: 10px;
                // padding: 5px 10px;
                width: 100%;
                border-radius: 10px;
                height: 40px;

                input{
                  margin-left: 10px;
                    width: 350px;
                    border: none;
                    &:focus{
                        border: 0px solid;
                        outline: none;
                    } 
                }

                .fa-magnifying-glass{
                  background-color: $color-main;
                  color: white;
                  height: 100%;
                  width: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-top-right-radius: 10px;
                  border-bottom-right-radius: 10px;
                  cursor: pointer;
                }

            }

              
            }

            .grid-show{
              height: calc(100vh - 185px);
              width: 100%;
              display: flex;
              justify-content: center;
    
              .product-list{
                padding: 0 40px;
                width: 100%;
                gap: 5px 5px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                overflow: auto;
              }
            }
          }
  
          
      }
  }
  }
}

