@import '../../../../styles.scss';

::ng-deep {
  component-text-dropdown {
    .text-dropdown {
      display: flex;
      justify-content: space-between;
      .label{
        text-wrap: nowrap;
        @include center-vertical;
      }
      
      kendo-dropdownlist {
        font-size: 13px;
        .k-input-value-text  {
          display: flex;
        }
      }
    }
  }
}

