@import '../../../../../styles.scss';

::ng-deep {
    app-datepicker {

        kendo-datepicker {
            border: 1px solid $color-border-input !important;
        }

        .k-datepicker {
            display: flex;
            flex-direction: row-reverse;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            width: 130px;
            height: 32px;
        }

        .k-datepicker:hover {
            border: 1px solid $color-main !important;
        }

        [id^="datepicker-"] {
            text-align: center;
            pointer-events: none;
            cursor: default;
            background-color: #bfc4c96b !important;
        }

        .k-input-button {
            border: 1px solid rgba(0, 0, 0, 0);
            background-color: #fff;
        }

        .k-input-button:hover {
            background: none;
        }

        .k-input-solid {
            border: 1px solid black;
        }

    }

    .component-datepicker {
        height: 32px;

        .k-input-solid.k-focus:hover {
            border: 1px solid $color-main !important;
            box-shadow: $box-shadow2;
        }

        .k-input-solid:focus,
        .k-input-solid.k-focus {
            border: 1px solid rgba(148, 140, 140, 0.2) !important;
            box-shadow: $box-shadow2 !important;
        }

        .k-dateinput {
            text-wrap: nowrap;
        }
    }
}