@import '../../../../../styles.scss';

::ng-deep {
    .k-datepicker {
        display: flex;
        flex-direction: row-reverse;
        box-shadow: $box-shadow3 !important;
        width: 130px;
        height: 32px;
        border: 1px solid rgba(148, 140, 140, 0.2) !important;
    }

    .k-datepicker:hover{
        border: 1px solid $color-main !important;
        box-shadow: $box-shadow3;
    }

    [id^="datepicker-"] {
        text-align: center;
        pointer-events: none;
        cursor: default;
        background-color: #bfc4c96b !important;
    }

    .k-input-button {
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #fff;
    }

    .k-input-button:hover {
        background: none;
    }

    .k-input-solid {
        border: none;
    }

}

.component-datepicker {
    display: inline-block;
    height: 32px;

    .k-input-solid.k-focus:hover {
        border: 1px solid $color-main !important;
        box-shadow: $box-shadow3;
    }

    .k-input-solid:focus,
    .k-input-solid.k-focus {
        border: 1px solid rgba(148, 140, 140, 0.2) !important;
        box-shadow: $box-shadow3 !important;
    }

    .k-dateinput {
        display: inline-block;
        text-wrap: nowrap;
    }
}