@import '../../../../styles.scss';

::ng-deep{
    component-text-input{
        .component-text-input{
            display: inline-block;
            kendo-label{
                @include center-vertical;
                width: 500px;
                justify-content: space-between;
                text-wrap: nowrap;

                .nessesary{
                    color: red;
                    height: 100%;
                    padding-bottom: 10px;
                }
            }

            .readonly{
                background-color: $color-readonly !important;
                pointer-events: none;
                cursor: pointer;
            }
        }
    }
}