@import '../../../../styles.scss';

centered {
    display: flex;
    align-items: center;
    justify-content: center;
  };

  
  .main {
    padding: 50px;
    
    .title {
      @extend centered;
      font-size: 40px;
      font-weight: bold;
    }
  
    .line-area {
      @extend centered;
      .under-line {
        width: 1000px;
        height: 1px;
        background-color: $color-main;
      }
    }

    .content-area{
        // @extend centered;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        // height: 700px;
        width: 100%;
        gap: 50px;

        .cart-item{
            width: 1400px;
            height: 100%;
            background-color: white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .content{
                padding: 50px;

                .header{
                    @extend centered;
                    justify-content: space-between;
                    font-size: 25px;
                    font-weight: bold;
                    .title-header-item{

                    }

                    .text-item-have{

                    }
                }

                .under-line{
                    margin: 30px 0;
                    height: 1px;
                    width: 100%;
                    background-color: rgb(233, 233, 233);
                }

                .item-area{
                    height: 500px;
                    overflow-y: auto;
                
                    .item{
                        height: 150px;
                        margin-bottom: 20px;
                        @extend centered;
                        justify-content: space-between;

                        .infor{
                            @extend centered;
                            display: flex;
                            

                            /* CSS */
                            .custom-checkbox {
                                display: inline-flex;
                                align-items: center;
                                cursor: pointer;
                                user-select: none;
                                font-size: 16px;
                                color: $color-main;
                                transition: color 0.3s;
                                margin: 0 20px;
                              }
                              
                              .custom-checkbox input[type="checkbox"] {
                                display: none;
                              }
                              
                              .custom-checkbox .checkmark {
                                width: 24px;
                                height: 24px;
                                border: 2px solid $color-main;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-right: 10px;
                                transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
                                transform-style: preserve-3d;
                              }
                              
                              .custom-checkbox .checkmark::before {
                                content: "\2713";
                                font-size: 16px;
                                color: transparent;
                                transition: color 0.3s, transform 0.3s;
                              }
                              
                              .custom-checkbox input[type="checkbox"]:checked + .checkmark {
                                background-color: $color-main;
                                border-color: $color-main;
                                transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
                              }
                              
                              .custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
                                color: #fff;
                              }
                              
                              .custom-checkbox:hover {
                                color: #666;
                              }
                              
                              .custom-checkbox:hover .checkmark {
                                border-color: #666;
                                background-color: #f0f0f0;
                                transform: scale(1.05);
                              }
                              
                              .custom-checkbox input[type="checkbox"]:focus + .checkmark {
                                box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
                                outline: none;
                              }
                              
                              .custom-checkbox .checkmark,
                              .custom-checkbox input[type="checkbox"]:checked + .checkmark {
                                transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
                              }
                              
                        
                            .image{
                                height: 150px;
                                width: 150px;
    
                                img{
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 20px;
                                }
                            }
    
                            .info-area{
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                margin: 0 20px;
                                width: 200px;
                                font-weight: 600;
                                .name{
                                    font-weight: bold;
                                    font-size: 25px;
                                }
                                .color{
                                    padding: 10px 0;
                                    display: flex;
                                    .title-item{
                                        color: #BDC2D2;
                                    }
                                    .center-line{
                                        color: #BDC2D2;
                                        margin: 0 15px;
                                    }
                                }
                                .size{
                                    display: flex;
                                    .title-item{
                                        color: #BDC2D2;
                                    }
                                    .center-line{
                                        color: #BDC2D2;
                                        margin: 0 15px;
                                    }
                                    .text{
                                        color: black;
                                    }
                                }
                            }
                        }

                        

                        .price-area{
                            font-size: 18px;
                            font-weight: bold;
                            
                            @extend centered;
                            align-items: flex-start !important;
                            .final-price{
                                margin-right: 10px;
                            }
                            .origin-price{
                                font-size: 13px;
                                font-weight: normal;
                                text-decoration-line: line-through;
                                color: #979191;;
                            }
                        }

                        .quantity-area{
                            @extend centered;
                            .quantity{
                                margin: 0 10px;
                                align-items: center;
                                display: flex;
                                justify-content: center;

                                .input{
                                    width: 50px;
                                    height: 30px;
                                    border-color: #BDC2D2;
                                    border-radius: 5px;
                                    text-align: center;
                                }

                               
                            }
                            i{
                                cursor: pointer;
                            }
                        }

                        .total-price-area{
                            font-size: 20px;
                            font-weight: bold;
                            @extend centered;
                            .title-item{
                                color: #BDC2D2;
                                margin-right: 10px;
                            }
                        }

                        .delete-area{
                            height: 100%;
                            width: 80px;
                            cursor: pointer;
                            background-color: $color-main;
                            @extend centered;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;

                            .icon{
                                font-size: 25px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .cart-summary{
            height: 450px;
            width: 400px;
            border-radius: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .content{
                width: 100%;
                background-color: white;

                .summary{
                    font-size: 30px;
                    font-weight: bold;
                    .text{
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                }

                .line-area{
                    margin: 20px 0;
                    .under-line{
                        background-color: rgb(233, 233, 233);;
                    } 
                }

                .content-detail{
                    margin: 0 20px;
                    // height: 200px;
                    .title{
                        font-size: 20px;
                        text-align: start;
                        justify-content: start;
                        margin-bottom: 30px;
                    }

                    .content-child{
                        .item{
                            display: flex;
                            justify-content: space-between;
                            .title{
                                margin-right: 10px;
                                font-size: 20px;
                            }
                            .text{
                                font-size: 20px;
                            }
                        }
                    }
                }

                .go-payment-area{
                    padding: 20px;
                    .total-price-area{
                        display: flex;
                        font-size: 20px;
                        font-weight: bold;
                        justify-content: space-between;
                    }
                    .btn-checkout{
                        cursor: pointer;
                        height: 50px;
                        width: 100%;
                        background-color: $color-main;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: 25px;
                        font-weight: bold;
                        border-radius: 10px;
                        margin-top: 20px;
                    }
                }

            }
        }

    }
  }
  