<div class="admin001-info-customer">
    <!-- <component-form>
        <div class="content-form">
            <div class="block block-1">
                <component-text-input [widthBlock]="400" label="Mã người dùng" ></component-text-input>
                <component-text-input [widthBlock]="400" label="Họ tên" ></component-text-input>
            </div>

            <div class="block block-2">
                <component-datepicker label="Ngày sinh" [widthBlock]="230"></component-datepicker>
                <component-text-input [widthBlock]="400" label="Họ tên" ></component-text-input>
            </div>
        </div>
    </component-form> -->
    <!-- <component-grid titleGrid="Danh sách khách hàng" [isLoading]="isLoading" [listData]="listOriginCustomer">
        <ng-template let-data>
            <kendo-grid-column title="Code" field="Code">
            </kendo-grid-column>
            <kendo-grid-column title="Name" field="Name">
            </kendo-grid-column>
    
        </ng-template>
    </component-grid> -->
    <!-- <component-import-multi-image></component-import-multi-image> -->
</div>