@import '../../../../styles.scss';
@import '../../shared/style/grid.scss';

::ng-deep {
    app-admin009-manage-product {
        height: 100%;
        display: block;

        .admin009 {
            height: 100%;
            display: block;
            position: relative;

            .header-filter-color {
                padding: 10px 0;
                display: flex;

                .label-filter-color {
                    @include center-vertical;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .header-filter {
                display: flex;
            }

            .grid-custom-container {
                height: calc(100vh - 262px - 61px - 20px);

                kendo-grid {
                    height: 100%;

                    tr.k-table-row {
                        max-height: 60px;
                        height: 60px;
                        color: #000 !important;
                    }

                    th.k-table-th[aria-colindex="2"],
                    th.k-table-th[aria-colindex="4"],
                    th.k-table-th[aria-colindex="5"],
                    th.k-table-th[aria-colindex="6"],
                    th.k-table-th[aria-colindex="7"] {
                        .k-column-title {
                            margin: auto;
                        }
                    }

                    th.k-table-th[aria-colindex="8"] {
                        .k-link {
                            display: flex;
                            justify-content: end;
                        }
                    }

                    td.k-table-td[aria-colindex="9"] {
                        background-color: $color-tool-box;
                        box-shadow: 1px 3px 6px 1px #8f9ba633;
                        height: 44px;
                        @include center-horizontal;

                        component-button {
                            margin: auto;
                        }

                        .component-button:hover {
                            background: #464646 !important;
                        }
                    }

                    .column-2,
                    .column-4,
                    .column-5,
                    .column-6,
                    .column-7 {
                        text-align: center;

                        img {
                            height: 38px;
                            width: 38px;
                            object-fit: cover;
                            border-radius: 3px;
                        }
                    }

                    .column-8 {
                        text-align: right;
                    }
                }
            }
        }
    }
}