<div class="admin009">

    <div class="header-filter">
        <div class="label">Danh sách sản phẩm</div>
        <component-search-bar placeholder="Tìm kiếm theo mã, tên sản phẩm..."></component-search-bar>
        <div class="delete-filter">Xóa bộ lọc</div>
    </div>

    <div class="grid-custom-container">
        <kendo-grid [pageable]="true">
    
            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-page-sizes pagerGrid [pageSizes]="[1,2,3,4]"></kendo-pager-page-sizes>
                <div class="pager-buttons">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-numeric-buttons [buttonCount]="3"></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                </div>
            </ng-template>
        </kendo-grid>
    </div>
    
</div>
