<div class="manage-product">
    <component-form text="Thông tin sản phẩm">
        <div class="content-form">
            <div class="block block-1">
                <component-text-input [widthBlock]="350" [widthTextBox]="240" label="Mã sản phẩm"></component-text-input>
                <component-text-input [widthBlock]="350" [widthTextBox]="240" label="Tên sản phẩm"></component-text-input>
                <component-text-input [widthBlock]="350" [widthTextBox]="240" label="Giá sản phẩm"></component-text-input>
            </div>

            <div class="block block-2">
                <component-text-dropdown label="Loại sản phẩm" [widthBlock]="300" [widthTextBox]="200"></component-text-dropdown>
                <component-text-dropdown label="Thương hiệu" [widthBlock]="300" [widthTextBox]="200"></component-text-dropdown>
                <component-text-dropdown label="Màu sắc" [widthBlock]="300" [widthTextBox]="200"></component-text-dropdown>
            </div>

            <div class="block block-3"></div>

            <div class="block block-4"></div>
        </div>
    </component-form>
</div>
