@import '../../../../styles.scss';
::ng-deep{
    app-ecom-product-details{
        .main{
            height: 100%;
            width: 100%;
        
            .head-main{
                @extend centered;
                margin-top: 80px;
                .content-area{
                    height: 700px;
                    width: 1200px;
                    display: flex;
                    justify-content: center;
                    gap: 50px;
                    // background-color: red;
    
                    .image-area{
                        display: flex;
                        width: 750px;
                        .list-image::-webkit-scrollbar{
                            display: none;
                        }
                        .list-image{
                            overflow: auto;
                            height: 700px;
                            width: 200px;
                            
        
                            // ::-webkit-scrollbar{
                            //     display: none;
                            // }
                         
            
                            .image{
                                height: 150px;
                                width: 150px;
                                margin-bottom: 10px;
                                border-radius: 20px;
            
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 10px;
                                }
                            }
                        }
    
                        .image-show{
                            width: 600px;
                            height: 700px;
    
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
    
                    .info-area{
                        width: 750px;
                        font-weight: 600;
                        
                        .name{
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
    
                        .type{
                            margin-bottom: 50px;
                            font-weight: 500;
                        }
    
                        .price-area{
                            display: flex;
                            font-size: 20px;
                            font-weight: bold;
                            gap: 10px;
                            align-items: flex-end;
    
                            .price-origin{
                                color: rgb(196, 196, 196);
                                font-size: 14px;
                                text-decoration-line: line-through;
                                // color: red;
                            }
                        }
    
                        .size-area{
                            margin-top: 100px;
                            .title{
                                font-size: 20px;
                                margin-bottom: 20px;
                            }
    
                            .list-size{
                                width: 300px;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                gap: 10px;
    
                                .item{
                                    width: 100px;
                                    height: 50px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid rgb(226, 226, 226);
                                    border-radius: 10px;
                                    cursor: pointer;
    
                                    &:hover{
                                        border-color: $color-main;
                                    }
                                }
    
                                .item-selected{
                                    width: 100px;
                                    height: 50px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid rgb(226, 226, 226);
                                    border-radius: 10px;
                                    cursor: pointer;
                                    background-color: $color-main;
                                    color: white;
    
                                    &:hover{
                                        border-color: $color-main;
                                    }
                                }
                            }
                        }
    
                        .btn-add-bag{
                            height: 50px;
                            width: 100%;
                            background-color: $color-main;
                            margin-top: 30px;
                            @extend centered;
                            color: white;
                            font-size: 20px;
                            font-weight: bold;
                            border-radius: 20px;
                            cursor: pointer;
                            border: 2px solid $color-main;
    
                            // &:hover{
                            //     background-color: white;
                            //     color: $color-main
                            // }
                        }
    
                        .btn-favorite{
                            @extend centered;
                            height: 50px;
                            width: 100%;
                            border-radius: 20px;
                            border: 2px solid $color-main;
                            margin-top: 10px;
                            cursor: pointer;
    
                            // &:hover{
                            //     background-color: $color-main;
                            //     color: white
                                
                            // }
                        }
                    }
                    
                }
            }
        
            
        }
    }
    
}
