@import '../../../../../styles.scss';

::ng-deep {
    component-checkboxlist {
        .k-label {
            cursor: pointer;
            font-size: 13px;
        }

        .checkboxlist-container {
            box-sizing: border-box;
            display: flex;
            gap: 10px;
            padding-inline: 10px;

            .checked-border{
                border: 1px solid $color-main !important;
            }

            .k-checkbox:checked,
            .k-checkbox.k-checked {
                border-color: $color-main;
                color: white;
                background-color: $color-main;
            }

            .k-checkbox:checked:focus,
            .k-checkbox.k-checked.k-focus {
                box-shadow: none;
            }

            .k-checkbox {
                border: 1px solid $color-main;
                border-radius: 3px !important;
            }

            .checkbox {
                text-wrap: nowrap;
                padding: 4px 8px;
                border-radius: 18px;
                border: 1px solid #c7c7c7;
                display: flex;
                gap: 8px;
                align-items: center;
                cursor: pointer;
                background-color: #fff;
                color: #000;
                box-shadow: $box-shadow1;
                height: 32px;
            }

            .checkbox:hover {
                border: 1px solid $color-main;
            }

            .checkbox:hover>.k-checkbox {
                background-color: $color-main;
            }

            .checked {
                border: 1px solid $color-main;
            }
        }
    }

}