@import '../../styles.scss';

.container {
    display: flex;
    width: 100vw;
    box-sizing: border-box;

    .sidebar {
        height: 100vh;
    }
    
    .content{
        min-width: calc(100vw - 268px);
        width: 100%;
    
        .header{
            height: 60px;
            padding: 0 10px;
        }
    
        .content{
            padding: 10px 20px 0 20px;
            height: calc(100vh - 60px);
            max-height: calc(100vh - 60px);
            overflow-y: auto;
            position: relative;
            font-size: 13px;
        }
    }
}

